<!-- If this file changes, logging is re-configured within 5 seconds and/or after 16 log-statements. -->
<configuration scan="true" scanPeriod="5 seconds" packagingData="true">

	<property name="app.name" value="basic-jsp-embed" />
	<property name="log.home" value="target/logs" />
	<property name="log.name" value="${log.home}/${app.name}" />

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.name}.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- daily rollover with gz compression for old log-files -->
			<fileNamePattern>${log.name}.%d.%i.log.gz</fileNamePattern>
			<maxHistory>7</maxHistory>
			<maxFileSize>100MB</maxFileSize>
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>%d{dd HH:mm:ss:SSS} %-5level %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- In memory cyclic buffer, used to show last log-events. -->
	<appender name="CYCLIC"
		class="ch.qos.logback.core.read.CyclicBufferAppender"> 
		<MaxSize>512</MaxSize>
	</appender>

	<appender name="CYCLICERROR"
		class="ch.qos.logback.core.read.CyclicBufferAppender"> 
		<MaxSize>512</MaxSize>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
	</appender>

	<logger name="com.descartes" level="debug" />

	<root level="INFO">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="CYCLIC" />
		<appender-ref ref="CYCLICERROR" />
	</root>
</configuration>
