<!-- If this file changes, logging is re-configured within 5 seconds and/or after 16 log-statements. -->
<configuration scan="true" scanPeriod="5 seconds">

	<property name="log.home" value="${app.home.dir}logs" />
	<property name="log.name" value="${log.home}/${app.name}" />

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.name}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover with gz compression for old log-files -->
			<fileNamePattern>${log.name}.%d.log.gz</fileNamePattern>
			<!-- keep 7 days' worth of history -->
			<maxHistory>7</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy
            	class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        		<!-- or whenever the file size reaches 100MB -->
        		<maxFileSize>100MB</maxFileSize>
      		</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%d{dd HH:mm:ss:SSS} %-5level %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- In memory cyclic buffer, used to show last log-events. -->
	<appender name="CYCLIC"
		class="ch.qos.logback.core.read.CyclicBufferAppender"> 
		<MaxSize>512</MaxSize>
	</appender>

	<appender name="CYCLICERROR"
		class="ch.qos.logback.core.read.CyclicBufferAppender"> 
		<MaxSize>512</MaxSize>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
	</appender>

    <logger name="org.apache.catalina.loader" level="info" />
	<logger name="com.descartes" level="debug" />

	<root level="INFO">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="CYCLIC" />
		<appender-ref ref="CYCLICERROR" />
	</root>
</configuration>
